body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div:empty {
  display: none;
}

.location {
  padding: 15px;
  cursor: pointer;
}

.navbar-brand {
  font-size: 3rem;
  margin: auto;
  padding-right: 10px;
}

.search {
  padding-top: 150px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.weather {
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.forecast {
  display: flex;
  overflow: auto;
  height: 12rem;
  width: 100%;
}

.forecast__border {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.container {
  padding-top: 10px;
  height: 100%;
}

.container__currentWeather {
  padding-top: 25px;
}

.ccard{
  text-align: center;
}

.ccard__large {
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  margin: auto;
  width: 15rem;
  height: 18rem;
}

.ccard__title {
  position: relative;
  overflow: auto;
  margin: auto;
}

.ccard__header {
  display: inline;
  vertical-align: middle;
}

.form-signin__size {
  width: 15rem;
  margin: 0 auto;
  display: inline;
}

.favorites {
  padding-top: 15%;
}

.list-group {
  width: 30%;
  margin: auto;
}

.list-group-item {
  font-size: 1.5em;
  height: 4rem;
  text-align: center;
}

.map {
  padding-top: 20px;
  padding-bottom: 20px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 8.125rem;
  width: 8.125rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__svg {
  height: 6.25rem;
  width: 6.25rem;
}

.favorite__icon {
  color: rgba(255, 217, 0, 0.815);
  font-size: 36px;
}

.navbar-text__favorites {
  font-size: 1.5rem;
}

.navbar-text__favorites:hover {
  text-decoration: underline;
}